* {
  transition: all 0.2s ease-in-out;
}
.home-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: rgb(198, 205, 219);
  min-height: 100vh;
  box-sizing: border-box;
}

.home-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(71, 88, 197);
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2rem;
  }
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  padding: 10px;
}
@media (max-width: 768px) {
  .category-list {
    flex-direction: column;
    align-items: center;
  }

  .category-card {
    width: 80%;
  }
}
.category-card {
  padding: 20px;
  background-color: rgb(244, 245, 248);
  border-radius: 20px;
  max-width: 80%;
  text-align: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.category-link {
  text-decoration: underline;
  color: rgb(71, 88, 197);
  font-size: 1.1em;
  transition: color 0.3s;
}
.category-link:hover {
  color: rgb(51, 68, 177);
}
